:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-text-color: #434455;
  --heading-text-color: #2e2f42;
  --secondary-text-color: #ffffff;
  --light-background-color: #e7e9fc;
  --dark-background-color: #2e2f42;
  --accent-background-color: #f4f4fd;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --hero-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**----- Reset default styles  -----*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/** COMPONENTS */

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  display: block;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  max-width: 426px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*! ======== MOBILE ========*/

/* --- HEADER --- (mobile)*/
.menu {
  display: none;
}
.contact-info {
  display: none;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--light-background-color);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);

  margin: 0;
}

.logo-studio-dark {
  color: var(--heading-text-color);
}

.logo-studio-light {
  color: var(--accent-background-color);
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu-open_icon {
  stroke: rgba(46, 47, 66, 1);
}

/* BURGER MENU */

.mobile-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  max-width: 428px;
  width: 100%;
  height: 100%;
  padding: 24px 24px 40px 40px;
  margin: 0 auto;
}

.mobile-menu_close-btn {
  display: block;
  margin-bottom: 32px;
  margin-left: auto;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.mobile-menu_close-icon {
  fill: rgba(46, 47, 66, 1);
}

.mobile-menu_item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu_link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-background-color);
}

.mobile-menu_link.mobile-menu_color-pressed {
  color: var(--pressed-state-color);
}

.mobile-menu_contact_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-menu_tel {
  display: block;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-brand-color);
}

.mobile-menu_email {
  display: block;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu_social-list {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 56px;
}

.mobile-menu_social-item {
  width: 40px;
  height: 40px;
}

.mobile-menu_social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
}

.mobile-menu_social-icon {
  width: 24px;
  height: 24px;
  fill: var(--accent-background-color);
}

@media screen and (max-width: 420px) {
  .mobile-menu_tel {
    font-size: 24px;
  }
  .mobile-menu_social-list {
    gap: 24px;
  }
}

/** =========================================== */
/* --- HERO --- (mobile)*/

.hero {
  max-width: 428px;
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;

  background-color: rgba(46, 47, 66, 0.7);
  background-image: var(--hero-gradient), url('../images/hero_bg_mobile.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-gradient),
      url('../images/hero_bg_mobile@2x.jpg');
  }
}

.main-title {
  max-width: 320px;
  margin: 0 auto 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.modal-btn {
  padding: 16px 32px;

  color: var(--secondary-text-color);
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-dur-and-func);
}

.modal-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

/** =========================================== */
/* --- MODAL window --- (mobile)*/

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  max-width: 392px;
  width: 100%;
  min-height: 586px;
  padding: 72px 16px 24px 16px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(252, 252, 252, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform var(--transition-dur-and-func);

  animation: animateModal 3000ms ease-in-out 500ms;
}

@keyframes animateModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: rgba(231, 233, 252, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func),
    border-style var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.modal-close-btn:is(:hover, :focus) {
  background-color: rgba(64, 75, 191, 1);
  border-style: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn-icon {
  fill: rgba(46, 47, 66, 1);
  transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:is(:hover, :focus) .modal-close-btn-icon {
  fill: rgba(255, 255, 255, 1);
}

.modal-subscribe-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-background-color);
  margin-bottom: 22px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-label {
  display: block;
  margin-bottom: 8px;
}
.modal-form-decr {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(142, 143, 153, 1);
}

.modal-form-field {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  fill: rgba(46, 47, 66, 1);
  transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus + .modal-form-icon {
  fill: rgba(77, 90, 229, 1);
}

.modal-form-input {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 1);
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  padding: 11px 16px 11px 38px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus-within {
  border-color: rgba(77, 90, 229, 1);
}

.modal-form-message {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-message:focus-within {
  border-color: var(--primary-brand-color);
}

.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-message:not(:placeholder-shown) {
  color: rgba(46, 47, 66, 1);
}

.label-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 1);
  margin-top: 16px;
  margin-bottom: 24px;
}

.castom-checkbox {
  display: block;
  content: '';
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  padding: 4px 3px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  background-color: transparent;
  transition: background-color var(--transition-dur-and-func),
    border var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}

.modal-checkbox:checked + .castom-checkbox {
  background-color: rgba(64, 75, 191, 1);
  border: none;
  fill: rgba(244, 244, 253, 1);
}

.checkbox-descr {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(142, 143, 153, 1);

  display: block;
  margin-left: 8px;
  transition: background-color var(--transition-dur-and-func),
    background-image var(--transition-dur-and-func);
}

.privacy-link {
  color: rgba(77, 90, 229, 1);
}

.modal-form-btn {
  display: block;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  margin: auto;
  border: none;
  transition: background-color var(--transition-dur-and-func);
}

.modal-form-btn:is(:hover, :focus) {
  background-color: #404bbf;
}

/** =========================================== */
/* --- ABOUT-section --- (mobile)*/

.list-about {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.figure-about {
  display: none;
}

.section-description {
  color: var(--primary-text-color);
  margin-top: 8px;
}

.item-about .section-description {
  font-weight: 500;
}

/** =========================================== */
/* --- PRESENTATION-section --- (mobile)*/

.section-presentation {
  display: none;
}

.section-title {
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--heading-text-color);
}

/** =========================================== */
/* --- TEAM-section --- (mobile)*/

.section-team {
  background-color: var(--accent-background-color);
}

.container-team {
  max-width: 294px;
}

.list-team {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
  margin: 72px auto 0;
  /* max-width: 264px; */
}

.item-team {
  /* width: 100%; */
  text-align: center;
  margin: 0 auto;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.card-content {
  padding: 32px 16px;
}

.section-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--heading-text-color);
}

.center-align {
  text-align: center;
}

.capitalize-transform {
  text-transform: capitalize;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 232px;
  max-height: 40px;
  margin-top: 8px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color var(--transition-dur-and-func);
}

.social-list-link:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

.social-list-icon {
  width: 16px;
  height: 16px;
  fill: var(--accent-background-color);
}

/** =========================================== */
/* --- CUSTOMERS-section --- (mobile)*/

.list-customers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  max-width: 396px;
  gap: 72px 16px;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
}

.item-customer {
  max-width: 190px;
  height: 88px;
  flex-basis: calc((100% - 16px) / 2);
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}

.customers-list-icon {
  max-width: 104px;
  max-height: 56px;
  fill: #8e8f99;
  transition: fill var(--transition-dur-and-func);
}

.customers-list-link:is(:hover, :focus) {
  border-color: var(--pressed-state-color);
}

.customers-list-link:hover .customers-list-icon {
  fill: var(--pressed-state-color);
}

/** =========================================== */
/* --- FOOTER --- (mobile)*/

.footer {
  padding: 96px 0;
  background-color: var(--dark-background-color);
}

.footer-container {
  max-width: 426px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: baseline;
}

.footer-wrap-info {
  max-width: 268px;
  margin: 0 auto;
}

.footer-description {
  text-align: left;
  color: var(--accent-background-color);
  margin: 16px auto 0;
}

.footer-wrap-social {
  max-width: 208px;
  margin: 72px auto;
}

.footer-subtitle {
  display: block;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.footer-social-list {
  display: flex;
  gap: 16px;
  margin: 0 auto;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color var(--transition-dur-and-func);
}
.footer-social-icon {
  width: 24px;
  height: 24px;
  fill: var(--accent-background-color);
}

.footer-social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.footer-wrap-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;

  width: 100%;
}

.footer-wrap-form::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.form-subscribe-footer input {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  width: 100%;
  max-width: 398px;

  height: 40px;
  padding: 8px 16px;

  background-color: transparent;
  outline: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.label-sub {
  margin-bottom: 16px;
}

.label-sub input:focus {
  border-color: #ffffff;
}

.button-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 8px 24px;
  max-width: 165px;
  min-height: 40px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:focus,
.button-footer:hover {
  background-color: #404bbf;
}

.button-icon {
  display: inline-flex;
  align-items: center;
  fill: #ffffff;
  margin-left: 16px;
}

/** =========================================== */

@media screen and (max-width: 428px) {
  .container {
    max-width: 426px;
  }
}

/*! =========================================== */

/*! ======== TABLET ========*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  /* --- HEADER --- (tablet)*/

  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header-container {
    justify-content: center;
    margin: 0 auto;
  }

  .page-nav {
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  .logo {
    margin-right: 120px;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 auto;
  }

  .menu-item {
    position: relative;
  }

  .menu-item:nth-child(-n + 2) {
    margin-right: 40px;
  }
  .menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--heading-text-color);
    transition: color var(--transition-dur-and-func);
  }

  .menu-link:is(:hover, :focus) {
    color: var(--pressed-state-color);
  }

  .link.current {
    color: var(--pressed-state-color);
  }

  .nav-active-site::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    bottom: -5px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
    opacity: 0;
    transition: opacity var(--transition-dur-and-func);
  }

  .nav-active-site:hover::after {
    opacity: 1;
  }
  .nav-active-site.current::after {
    background-color: var(--pressed-state-color);
    opacity: 1;
  }

  .contact-info {
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .menu-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 16px 0;
    margin: 0;
  }

  .contact-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color var(--transition-dur-and-func);
  }

  .contact-link:is(:hover, :focus) {
    color: var(--pressed-state-color);
  }

  /** =========================================== */
  /* --- HERO --- (tablet)*/

  .hero {
    max-width: 768px;
    background-image: var(--hero-gradient), url('../images/hero_bg_tablet.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: var(--hero-gradient),
        url('../images/hero_bg_tablet@2x.jpg');
    }
  }
  .main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: calc(60 / 56);
    margin: 0 auto 36px;
  }

  /** =========================================== */
  /* --- MODAL window --- (tablet)*/
  .modal {
    width: 408px;
    padding: 72px 24px 24px;
  }
  /** =========================================== */
  /* --- ABOUT-section --- (tablet)*/

  .list-about {
    gap: 72px 24px;
  }

  .item-about {
    flex-basis: calc((100% - 24px) / 2);
  }

  .figure-about {
    display: none;
  }
  .section-about .section-title {
    text-align: left;
  }

  /** =========================================== */
  /* --- PRESENTATION-section --- (tablet)*/
  .section-presentation {
    display: none;
  }
  /** =========================================== */
  /* --- TEAM-section --- (tablet)*/

  .container-team {
    max-width: 582px;
  }
  .list-team {
    flex-direction: row;
    gap: 64px 24px;
  }

  .item-team {
    width: calc((100% - 24px) / 2);
  }

  .section-title {
    text-align: center;
  }

  /** =========================================== */
  /* --- CUSTOMERS-section --- (tablet)*/

  .container-customers {
    max-width: 582px;
  }
  .list-customers {
    max-width: 552px;
    gap: 72px 24px;
  }

  .item-customer {
    max-width: 168px;
    flex-basis: calc((100% - 48px) / 3);
  }
  /** =========================================== */
  /* --- FOOTER --- (tablet)*/

  .footer-container {
    max-width: 582px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 72px 24px;
    margin: 0 auto;
  }

  .footer-wrap-info {
    max-width: 264px;
    margin: 0;
  }

  .footer-wrap-social {
    margin: 0;
  }
  .footer-wrap-form {
    width: 100%;
    max-width: 453px;

    text-align: left;
    margin: 0;
  }
  .form-subscribe-footer input {
    width: 264px;
    margin: 16px 0px 0px;
  }
  .form-field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0 24px;

    width: 100%;
  }

  .label-sub {
    margin-bottom: 0;
  }
  .button-footer {
    margin: 0;
  }
}

/*! =========================================== */
/*! ======== DESKTOP ========*/

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* --- HEADER --- (desktop)*/
  .page-header-container {
    justify-content: space-between;
    margin: 0 auto;
  }
  .logo {
    margin-right: 76px;
  }

  .nav-active-site::after {
    bottom: -1px;
  }

  .menu-contacts {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 24px 0;
    margin: 0;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--transition-dur-and-func);
  }

  .contact-link:is(:hover, :focus) {
    color: var(--pressed-state-color);
  }
  /** =========================================== */
  /* --- HERO --- (desktop)*/
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: var(--hero-gradient), url('../images/hero_bg_desktop.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: var(--hero-gradient),
        url('../images/hero_bg_desktop@2x.jpg');
    }
  }
  .main-title {
    margin: 0 auto 48px;
  }

  /** =========================================== */
  /* --- MODAL window --- (desktop)*/

  /** =========================================== */
  /* --- ABOUT-section --- (desktop)*/

  .list-about {
    gap: 24px;
  }

  .item-about {
    max-width: calc((100% - 72px) / 4);
  }

  .figure-about {
    display: flex;
    height: 112px;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-background-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .icon-about {
    width: 64px;
    height: 64px;
  }

  .item-about .section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--heading-text-color);
    text-align: left;
  }

  .item-about .section-description {
    font-weight: 400;
  }
  /** =========================================== */
  /* --- PRESENTATION-section --- (desktop)*/
  .section-presentation {
    display: flex;
    padding-bottom: 120px;
  }

  .list-presentation {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 72px;
  }

  .item-presentation {
    flex-basis: calc((100% - 48px) / 3);
  }
  /** =========================================== */
  /* --- TEAM-section --- (desktop)*/

  .list-team {
    gap: 24px;
    max-width: 1128px;
  }

  .item-team {
    max-width: calc((100% - 72px) / 4);
  }

  /** =========================================== */
  /* --- CUSTOMERS-section --- (desktop)*/

  .list-customers {
    max-width: 1128px;
    gap: 24px;
  }

  /** =========================================== */
  /* --- FOOTER --- (desktop)*/

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    margin: 0 auto;
    gap: 0;
  }

  .footer-wrap-info {
    max-width: 264px;
    margin: 0 120px 0 0;
  }

  .footer-wrap-social {
    margin: 0 auto 0 0;
  }

  .footer-wrap-form {
    display: block;
    margin: 0;
  }

  .form-subscribe-footer input {
    width: 264px;
    margin: 0;
  }

  .form-field {
    margin: 0 auto;
  }
}

/** =========================================== */

/** ============= Page PORTFOLIO ============= */

/**  Portfolio FILTER */
/* 
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-btn-filter {
  margin-bottom: 72px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.item-filter {
}

.btn-filter {
  text-align: center;
  color: var(--primary-brand-color);
  background: var(--accent-background-color);
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.btn-filter:is(:hover, :focus) {
  color: var(--secondary-text-color);
  background-color: var(--pressed-state-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/**  Portfolio PROJECTS */
/* 
.list-projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item-project {
  flex-basis: calc((100% - 48px) / 3);
}

.link-project {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);
}

.link-project:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-project {
  display: block;
  max-width: 100%;
  height: auto;
}

.border-project {
  border: 1px solid #e7e9fc;
  border-top: none;
}

.over-img-project {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0%, 100%);
  transition: transform var(--transition-dur-and-func);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: var(--primary-brand-color);
  padding: 40px 32px;
}

.link-project:is(:hover, :focus) .overlay {
  transform: translate(0%, 0%);
} */

/** =========================================== */
